* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;   
}

html body {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  margin: 0;

}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}
nav {
    height: 50px;
    width: 100%;
    background-color: #2d3c49;
}
.nav {
    text-align: right;
    margin: 0;
    padding-top: 14px;
    height: 100%;
    list-style-type: none;
}
.navigation {
    display: inline-block;
}

.navigation a {
    padding: 14px 16px;
    text-decoration: none;
    color: navajowhite;
}


.header {
    max-width: 100%;
    width: 100%;
    color: #2d3c49;
}


.title {
    font-size: 1.8em;
    text-transform: uppercase;
    text-indent: 20px;

}

.search {
    font-size: 1em;
    line-height: 1.6;
}

.container {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.container.toggled  {
  position: absolute;
  margin-right: -250px;
}

.container.toggled {
  padding-left: 250px;
}

.container.toggled {
  width: 250px;
}
.container.toggled #attraction-list {
  width: 250px;
}

#attraction-list {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  padding-top: 10px;
  overflow-y: auto;
  background: rgba(0,0,0,0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container li, .title-list, a#list-item, a#wiki-content, .header-title {
    display: block;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
    color: #2d3c49;
    width: 250px;
    margin: 0;
    padding: 0;
    text-indent: 20px;
    line-height: 40px;
}

#menu {
  z-index: 1000;
  position: fixed;
}

.title-list {
    color: #550E0C;
    text-transform: uppercase;
    margin-top: 10px;
}

ul {
    padding-left: 0;
}

li a {
    text-decoration: none; 
    color: #2d3c49;
}

a:hover, a:active{
    text-decoration: none;
    background: rgba(255,255,255,0.2);

}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}

.search {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
}

#menu-toggle {
    color: #2d3c49;
}

#thumbnail {
    width: 350px;
    height: 200px;
    margin: 0 auto;
}

#google-title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6em;
    text-align: center;
    line-height: 24px;

}
#google-fact {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin: 15px;


}

@media(min-width:768px) {
  .container {
    padding-left: 250px;
  }

  .container.toggled {
    padding-left: 0;
  }

  #attraction-list {
    width: 250px;
  }

  .container.toggled #attraction-list {
    width: 0;
  }



}