
* {
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing:border-box;
   box-sizing: border-box;
}
.header {
    height: 219px;
    margin:10px;
    max-width: 100%;
    width: 100%;
    color: #2d3c49;
}
.header-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header-logo {
    width: 30%;
}
#header-title {
    padding-right: 20px;
    text-align: right;
    text-transform: uppercase;
    width: 70%;
}

.title {
    font-size: 3em; 
    margin-bottom: 0;
}
.author{
  margin-top: 5px;
  font-weight: 900;
  font-size: 130%;
}

.title-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 75%;
  max-height: 200px;
}
.content{
    height: 450px;
}

.container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    float:left;
    overflow: auto;
}

.container li, #attraction-list, .title-list {
    display: block;
    color: #000;
    padding: 8px;
    text-decoration: none;
    text-align: center;
}
 ul {
    padding-left: 0;
 }


#map {
    height: 450px;
    margin-left: 25%;
    padding: 1px 16px;
    height: 100%;
}
#thumbnail {
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 600px){
    .container {
        width:100%;
        max-height: 150px;
        position:relative;
    }
    .container li {
        float: left;
        padding: 15px;
    }
    #map {
        margin-left:0;
        height: 300px;
        width: 100%;
    }

    .container li, #attraction-list, .title-list {
        text-align: center;
        float: none;
    }

    .title {
        font-size: 1.5em;
    }

} 
